<section class="ma__collage-header">
  <div class="ma__collage-header__container">
    <style>
      #GUID831741781374891 {
        background-image: url('/{{ directory }}/images/placeholder/250x250.png');
      }

      #GUID831741781374893 {
        background-image: url('/{{ directory }}/images/placeholder/250x250.png');
      }

      #GUID831741781374892 {
        background-image: url('/{{ directory }}/images/placeholder/250x250.png');
      }

      @media (min-width: 700px) {
        #GUID831741781374891 {
          background-image: url('/{{ directory }}/images/placeholder/900x700.png');
        }
        #GUID831741781374892 {
          background-image: url('/{{ directory }}/images/placeholder/500x300.png');
        }
        #GUID831741781374893 {
          background-image: url('/{{ directory }}/images/placeholder/500x500.png');
        }
      }
    </style>
    <div class="ma__collage-header__images">
      <div class="ma__collage-header__image" id="GUID831741781374891" title=""></div>
      <div class="ma__collage-header__image" id="GUID831741781374892" title=""></div>
      <div class="ma__collage-header__image" id="GUID831741781374893" title=""></div>
    </div>
    <div class="ma__collage-header__content">
      <div  class="ma__collage-header__title">
        <h1>Welcome to the Mass.Gov Pilot</h1>
      </div>
      <div class="ma__collage-header__details">
        <h3>We're redesigning this website to make it easier to find the things you need.</h3>
        <p>This is a big project, so we’re going public bit by bit, right here where you can see it and be a part of it. We hope you’ll explore the new site and provide some feedback so we can keep improving it as we add more information and features.</p>

        <p>Thank you for being a part of this project!</p>
      </div>
    </div>
  </div>
</section>