{% if jumpLinks.links %}
  <section class="ma__jump-links">
    <div class="ma__jump-links__inner">
      <div class="ma__jump-links__container">
        <h2 class="ma__jump-links__title" id="page-contents">{{jumpLinks.title}}</h2>
        <nav class="ma__jump-links__links js-scroll-anchors" aria-labelledby="page-contents">
          <button class="ma__jump-links__toggle-link js-scroll-anchors-toggle">+</button>
          {% set l = jumpLinks.links|length/2 %}
          {% set half = l|round(0,'ceil') %}
          <div class="ma__jump-links__column">
            {% for link in jumpLinks.links[start:half] %}
              <div class="ma__jump-links__link js-scroll-anchors-link {{loop.first ? 'is-active' : ''}}">
                {% include "@atoms/05-icons/svg-circle-chevron.twig" %}
                <a href="#{{ link.href }}">{{ link.text }}</a>
              </div>
            {% endfor %}
          </div>
          <div class="ma__jump-links__column">
            {% for link in jumpLinks.links[half:length] %}
              <div class="ma__jump-links__link js-scroll-anchors-link">
                {% include "@atoms/05-icons/svg-circle-chevron.twig" %}
                <a href="#{{ link.href }}">{{ link.text }}</a>
              </div>
            {% endfor %}
          </div>
        </nav>
      </div>
    </div>
  </section>
{% endif %}
