{% set widgetsClass = pageHeader.widgets ? "ma__page-header--has-widgets" : "" %}

{% set prefix = pageHeader.category|default(pageHeader.prefix) %}

<section class="ma__page-header {{ widgetsClass }}">
  {% if pageHeader.headerTags.taxonomyTerms or pageHeader.socialLinks.items %}
    <div class="ma__page-header__tags">
      {% if pageHeader.headerTags.taxonomyTerms %}
        {% set headerTags = pageHeader.headerTags %}
        {% include "@molecules/header-tags.twig" %}
      {% endif %}
      {% if pageHeader.socialLinks.items %}
        {% set socialLinks = pageHeader.socialLinks %}
        {% include "@molecules/social-links.twig" %}
      {% endif %}
    </div>
  {% endif %}
  <div class="ma__page-header__content">
    {% if pageHeader.publishState %}
      <div class="ma__page-header__publish-state">
        {% set publishState = pageHeader.publishState %}
        {% include "@atoms/11-text/publish-state.twig" %}
      </div>
    {% endif %}
    {% if pageHeader.category %}
      <div class="ma__page-header__category">
        {{ pageHeader.category }}
      </div>
    {% endif %}
    <h1 class="ma__page-header__title">{% if prefix %}<span class="visually-hidden">{{ prefix }}&nbsp;</span>{% endif %}{{pageHeader.title}}</h1>
    {% if pageHeader.subTitle %}
      <div class="ma__page-header__sub-title">{{pageHeader.subTitle}}</div>
    {% endif %}
    {% if pageHeader.optionalContents %}
      <div class="ma__page-header__optional-content">
        <div class="main-content main-content--two">
          <div class="page-content">
            {% for content in pageHeader.optionalContents %}
              {% include content.path with content.data %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  {% if pageHeader.widgets %}
    <div class="ma__page-header__widgets">
      {% for widget in pageHeader.widgets %}
        {% include widget.path with widget.data %}
      {% endfor %}
    </div>
  {% endif %}

  {% if pageHeader.divider %}
    <div class="ma__page-header__divider">
      {% include "@atoms/divider.twig" %}
    </div>
  {% endif %}
</section>
