{% if pageBanner.size %}
  {% set sizeClass = "ma__page-banner--" ~ pageBanner.size %}
{% endif %}

{# adding ma__page-banner--child shows a different version #}


<section class="ma__page-banner {{ sizeClass }}">
  <style>
    .ma__page-banner {
      background-image: url('{{ pageBanner.bgNarrow }}');
    }

    @media (min-width: 801px) {
      .ma__page-banner {
        background-image: url('{{ pageBanner.bgWide }}');
      }
    }
  </style>
  <div class="ma__page-banner__container">
    <div class="ma__page-banner__content">
      {% if pageBanner.icon %}
        <div class="ma__page-banner__icon">
          {% include pageBanner.icon %}
        </div>
      {% endif %}
      <h1 class="ma__page-banner__title">
        {{ pageBanner.title }}
        {% if pageBanner.titleSubText %}
          <span> {{ pageBanner.titleSubText }}</span>
        {% endif %}
      </h1>
    </div>
  </div>
</section>