{# adding ma__page-banner--child shows a different version #}
<section class="ma__page-banner {{pageBanner.size}}">
  <style>
    .ma__page-banner__background {
      background-image: url('{{pageBanner.bgNarrow}}');
    }

    @media (min-width: 801px) {
      .ma__page-banner__background {
        background-image: url('{{pageBanner.bgWide}}');
      }
    }
  </style>
  <div class="ma__page-banner__background"></div>
  <div class="ma__page-banner__content">
    {% if pageBanner.parentLink %}
      <div class="ma__page-banner__icon">
        <a href="{{pageBanner.parentLink.href}}">
          {% include pageBanner.icon %}
        </a>
      </div>
      <a class="ma__page-banner__back-link" href="{{pageBanner.parentLink.href}}">
        {{pageBanner.parentLink.text}}
      </a>
      {% else %} 
      <div class="ma__page-banner__icon">
        {% include pageBanner.icon %}
      </div>
    {% endif %}
    <h1 class="ma__page-banner__title">{{pageBanner.title}}</h1>
    <div class="ma__page-banner__divider"></div>
    <div class="ma__page-banner__description">
      {{pageBanner.description | raw}}
    </div>
  </div>
</section>