{# decorative link uses info instead of label #}
{% if link.info %}
  {% set link = link|merge({"label": link.info}) %}
{% endif %}

{# backward compatible with Release5.0.0 #}
{% if link.chevron == 'true' %}
  {% set link = link|merge({"chevron": true}) %}
{% endif %}

<a 
  class="ma__content-link {{ link.chevron ? 'ma__content-link--chevron' : '' }}" 
  href="{{ link.href }}"
  {% if link.property %} property="{{ link.property }}"{% endif %}
  {% if link.info %} aria-label="{{ link.label }}"{% endif %}><span>{{ link.text }}</span></a>
