<table>
  <thead>
    {% for row in table.head.rows %}
    <tr>
      {% for cell in row.cells %}
        <th scope="col" colspan="{{cell.colspan}}" rowspan="{{cell.rowspan}}">{{cell.text}}</th>
      {% endfor %}
    </tr>
  {% endfor %}
  </thead>
  {% for body in table.bodies %}
    <tbody>
      {% for row in body.rows %}
        <tr class="{{row.rowSpanOffset != 0 ? 'is-offset' : ''}}">
          {% for cell in row.cells %}
            {% if cell.heading == "true" %}
              <th scope="row" colspan="{{cell.colspan}}" rowspan="{{cell.rowspan}}">{{cell.text}}</th>
            {% else %}
              <td colspan="{{cell.colspan}}" rowspan="{{cell.rowspan}}">{{cell.text}}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  {% endfor %}
</table>