<label for="text-input">{{inputText.labelText}}</label>
<input 
  class="{{inputText.required ? 'js-is-required' : ''}}" 
  name="{{inputText.id}}" 
  id="{{inputText.id}}" 
  type="text" 
  placeholder="{{inputText.placeholder}}" 
  data-type="text"
  {{inputText.required ? 'required' : ''}} />