{% if inputText.labelText %}
  <label 
  for="{{ inputText.id }}"
  class="ma__label {{ inputText.required ? 'ma__label--required' : 'ma__label--optional'}} {{ inputText.hiddenLabel ? 'ma__label--hidden' : '' }}">{{inputText.labelText}}</label>
{% endif %}
{% if inputText.errorMsg %}
  <div class="ma__error-msg">{{ inputText.errorMsg }}</div>
{% endif %}
<input 
  class="ma__input {{ inputText.required ? 'js-is-required' : ''}}" 
  name="{{ inputText.name }}" 
  id="{{ inputText.id }}" 
  type="{{ inputText.type }}" 
  placeholder="{{ inputText.placeholder }}" 
  data-type="{{ inputText.type }}"
  {% if inputText.maxlength %}
    maxlength="{{ inputText.maxlength }}"
  {% endif %}
  {% if inputText.pattern %}
    pattern="{{ inputText.pattern }}*"
  {% endif %}
  {% if inputText.width %}
    style="width: {{ inputText.width }}px" 
  {% endif %}
  {{ inputText.required ? 'required' : '' }} />
