<label for="{{ inputText.id }}">{{inputText.labelText}}</label>
<input 
  class="{{ inputText.required ? 'js-is-required' : ''}}" 
  name="{{ inputText.name }}" 
  id="{{ inputText.id }}" 
  type="{{ inputText.type }}" 
  placeholder="{{ inputText.placeholder }}" 
  data-type="{{ inputText.type }}"
  {{ inputText.required ? 'required' : '' }} />