<section class="ma__select-box js-dropdown">
  <label
    for="{{selectBox.id}}" 
    class="ma__select-box__label">{{selectBox.label}}</label>
  <div class="ma__select-box__field">
    <select
      name="{{selectBox.id}}"
      id="{{selectBox.id}}" 
      class="ma__select-box__select js-dropdown-select">
      {% for option in selectBox.options %}
        <option value="{{option.value}}">{{option.text}}</option>
      {% endfor %}
    </select>
    <div class="ma__select-box__link">
      <span class="js-dropdown-link">{{selectBox.options[0].text}}</span>
      <span class="ma__select-box__icon"></span></div>
  </div>
</section>