{% if textarea.labelText %}
  <label for="input-type-textarea"
  class="ma__label {{ textarea.required ? 'ma__label--required' : 'ma__label--optional'}} {{ textarea.hiddenLabel ? 'ma__label--hidden' : '' }}">{{ textarea.labelText }}</label>
{% endif %}
<textarea 
  class="{{ textarea.required ? 'js-is-required' : ''}}" 
  name="{{ textarea.name }}" 
  id="{{ textarea.id }}" 
  data-type="{{ textarea.type }}"
  {% if textarea.maxlength %}
    maxlength="{{ textarea.maxlength }}"
  {% endif %}
  {{ textarea.required ? 'required' : '' }} /></textarea>
  