<section class="ma__action-map" aria-hidden="true" role=”presentation”>
  <div class="ma__action-map__google-map js-google-map"></div>
  {# user editable data used in this specific map #}
  <script>
    var googleMapData = googleMapData || [];

    googleMapData.push({
      map: {
        center: {
          lat: {{actionMap.map.center.lat}},
          lng: {{actionMap.map.center.lng}}
        },
        zoom: {{actionMap.map.zoom}}
      },
      markers: [
      {% for marker in actionMap.markers %}
        {
          position: {
            lat: {{marker.position.lat}},
            lng: {{marker.position.lng}} 
          },
          label: "{{marker.label}}", // single character only
          infoWindow: {
            name: "{{marker.infoWindow.name}}",
            phone: "{{marker.infoWindow.phone}}",
            fax: "{{marker.infoWindow.fax}}",
            email: "{{marker.infoWindow.email}}",
            address: "{{marker.infoWindow.address}}",
            address2: "{{marker.infoWindow.address2}}",
            city: "{{marker.infoWindow.city}}",
            state: "{{marker.infoWindow.state}}",
            zip: "{{marker.infoWindow.zip}}"
          }
        }{{loop.last ? '' : ','}}
      {% endfor %}
      ]
    });
  </script>
</section>