{% set accordion = actionStep.accordion %}

<section 
  class="ma__action-step {{ accordion ? 'js-accordion ma__action-step--accordion' : '' }} {{ actionStep.isExpanded ? 'is-open':'' }}">
  {% if accordion %}
    <button 
      class="ma__action-step__header js-accordion-link"
      aria-label="{{ actionStep.accordionLabel }}">
  {% else %}
    <header class="ma__action-step__header">
  {% endif %}
    {% if actionStep.icon %}
      <div class="ma__action-step__icon">
        {% include actionStep.icon %}
      </div> 
    {% endif %} 
    <h2 class="ma__action-step__title">{{ actionStep.title }}</h2>
  {% if accordion %}
    </button>
  {% else %}
    </header>
  {% endif %}
  <div class="ma__action-step__content {{ accordion ? 'js-accordion-content' : '' }}">
  {% set richText = actionStep.richText %}
  {% include "@organisms/by-author/rich-text.twig" %}
  {% if actionStep.downloadLinks %}
    {% set formDownloads = { "downloadLinks": actionStep.downloadLinks } %}
    {% include "@organisms/by-author/form-downloads.twig" %}
  {% endif %}
  {% if actionStep.decorativeLink %}
    <div class="ma__action-step__more">
      {% set decorativeLink = actionStep.decorativeLink %}
      {% include "@atoms/decorative-link.twig" %}
    </div>
  {% endif %}
</section>
