<div class="ma__contact-group">
  <h6 class="ma__contact-group__name">
    {% include contactGroup.icon %}
    <span>{{contactGroup.name}}</span>
  </h6>
  {% for item in contactGroup.items %}
    <div>
      {% if item.label %}
        <span class="ma__contact-group__label">{{item.label}}:</span>
      {% endif %}
      <a href="tel:+{{item.link}}" class="ma__contact-group__value ma__contact-group__value--phone">{{item.value}}</a>
    </div>
    {% if item.details %}
      <p class="ma__contact-group__details">{{item.details}}</p>
    {% endif %}
  {% endfor %}
</div>
