<section class="ma__contact-us">
  <h5 class="ma__contact-us__title">{{contactUs.title}}</h5>
  {% if contactUs.phone|length %}
    <div class="ma__contact-us__list">
      <h6 class="ma__contact-us__name">
        {% include "atoms-svg-phone" %}
        <span>Phone</span>
      </h6>
      {% for item in contactUs.phone %}
        <div>
          {% if item.label %}
            <span class="ma__contact-us__label">{{item.label}}:</span>
          {% endif %}
          <a href="tel:+{{item.link}}" class="ma__contact-us__value ma__contact-us__value--phone">{{item.value}}</a>
        </div>
        {% if item.details %}
          <p class="ma__contact-us__details">{{item.details}}</p>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  {% if contactUs.online|length %}
    <div class="ma__contact-us__list">
      <h6 class="ma__contact-us__name">
        {% include "atoms-svg-laptop" %}
        <span>Online</span>
      </h6>
      {% for item in contactUs.online %}
        <div>
          {% if item.label %}
            <span class="ma__contact-us__label">{{item.label}}:</span>
          {% endif %}
          <a href="mailto:{{item.link}}" class="ma__contact-us__value">{{item.value}}</a>
        </div>
        {% if item.details %}
          <p class="ma__contact-us__details">{{item.details}}</p>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  {% if contactUs.fax|length %}
    <div class="ma__contact-us__list">
      <h6 class="ma__contact-us__name">
        {% include "atoms-svg-phone" %}
        <span>Fax</span>
      </h6>
      {% for item in contactUs.fax %}
        <div>
          {% if item.label %}
            <span class="ma__contact-us__label">{{item.label}}:</span>
          {% endif %}
          <a href="tel:+{{item.link}}" class="ma__contact-us__value ma__contact-us__value--phone">{{item.value}}</a>
        </div>
        {% if item.details %}
          <p class="ma__contact-us__details">{{item.details}}</p>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  {% if contactUs.address|length %}
    <div class="ma__contact-us__list">
      <h6 class="ma__contact-us__name">
        {% include "atoms-svg-marker" %}
        <span>Address</span>
      </h6>
      {% for item in contactUs.address %}
        <div>
          {% if item.label %}
            <span class="ma__contact-us__label">{{item.label}}:</span>
          {% endif %}
          <a href="tel:+{{item.link}}" class="ma__contact-us__value ma__contact-us__value--phone">{{item.value}}</a>
        </div>
        {% if item.details %}
          <p class="ma__contact-us__details">{{item.details}}</p>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</section>