{% if downloadLink.iconSize %}
  {% set sizeClass = "ma__download-link--" ~ downloadLink.iconSize %}
{% endif %}
<div class="ma__download-link {{ sizeClass }}">
  {% if downloadLink.icon %}
    <div class="ma__download-link__icon">
      {% include downloadLink.icon %}
    </div>
  {% endif %}
  <div class="ma__download-link__title">
    {% if downloadLink.format == "form" %}
      {% set decorativeLink = downloadLink.decorativeLink %}
      {% include "@atoms/decorative-link.twig" %}
    {% else %}
      <a 
        class="ma__download-link__file-link"
        href="{{ downloadLink.decorativeLink.href}}">
        <span class="visually-hidden">Open {{ downloadLink.format }} file{% if downloadLink.size %}, {{ downloadLink.size }},{% endif %} for</span>
          {{ downloadLink.decorativeLink.text }}
      </a>
      {% if downloadLink.format or downloadLink.size %}
        <span class="ma__download-link__file-spec">({{ downloadLink.format }} {{ downloadLink.size }})</span>
      {% endif %}
    {% endif %}
  </div>
</div>
