<section class="ma__dropdown js-dropdown">
  <label
    for="{{ dropdown.id }}" 
    class="ma__dropdown__label">{{ dropdown.labelText }}</label>
  <div class="ma__dropdown__field">
    <select
      name="{{ dropdown.name }}"
      id="{{ dropdown.id }}" 
      class="ma__dropdown__select js-dropdown-select">
      {% for option in dropdown.options %}
        <option value="{{ option.value }}">{{ option.text|raw }}</option>
      {% endfor %}
    </select>
    <span class="ma__dropdown__link js-dropdown-link">{{ dropdown.options[0].text }}</span>
  </div>
</section>