{% set imageClass = generalTeaser.image ? 'ma__general-teaser--image' : '' %}
{% set layout = generalTeaser.layout ?: 'side-by-side' %}

<section class="ma__general-teaser {{ imageClass }} {{ layout }}">
  {% if generalTeaser.image %}
    {% if generalTeaser.title.href %}
      <a
        class="ma__general-teaser__image-wrapper"
        href="{{ generalTeaser.title.href }}"
        title="{{ generalTeaser.title.text }}">
    {% else %}
      <span class="ma__general-teaser__image-wrapper">
    {% endif %}
    {% set image = generalTeaser.image %}
    {% include "@atoms/09-media/image.twig" %}
    {% if generalTeaser.title.href %}
      </a>
    {% else %}
      </span>
    {% endif %}
  {% endif %}
  <div class="ma__general-teaser__details">
    {% if generalTeaser.eyebrow %}
      <div class="ma__general-teaser__eyebrow">
        <span>{{ generalTeaser.eyebrow }}</span>
      </div>
    {% endif %}
    {% if generalTeaser.title.text %}
      {% set headingLevel = generalTeaser.level ? : 2 %}
      <h{{ headingLevel }} class="ma__general-teaser__title">
        {% if generalTeaser.title.href %}
          {% set decorativeLink = generalTeaser.title %}
          {% include "@atoms/decorative-link.twig" %}
        {% else %}
          {{ generalTeaser.title.text }}
        {% endif %}
      </h{{ headingLevel }}>
    {% endif %}
    {% if generalTeaser.emphasizedText %}
      <div class="ma__general-teaser__emph-text-wrapper">
        {% for emphasizedText in generalTeaser.emphasizedText %}
          <span class="ma__general-teaser__emph-text">
            {{ emphasizedText }}
          </span>
        {% endfor %}
      </div>
    {% endif %}
    {% if generalTeaser.contents and layout != 'contents-stacked' %}
      <div class="ma__general-teaser__contents">
        {% for content in generalTeaser.contents %}
          {% include content.path with content.data %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% if generalTeaser.contents and layout == 'contents-stacked' %}
    <div class="ma__general-teaser__contents">
      {% for content in generalTeaser.contents %}
        {% include content.path with content.data %}
      {% endfor %}
    </div>
  {% endif %}
</section>
