
<section class="ma__header-contact js-accordion">
  <div class="ma__header-contact__address">
    {{headerContact.title ? headerContact.title  + "," : ""}}{{headerContact.address1}}{{headerContact.address2 ? " " + headerContact.address2: ""}}, {{headerContact.city}}, {{headerContact.state}} {{headerContact.zip}}
  </div>
  <div class="ma__header-contact__directions">
    {% set link = headerContact.directions %}
    {% include "atoms-link" %}
  </div>
  <button class="ma__header-contact__accordion js-accordion-link">More contact information</button>
  <div class="ma__header-contact__container js-accordion-content">
    {% if headerContact.phone|length %}
      <div class="ma__header-contact__column">
        {% set contactGroup = headerContact.phone %}
        {% include "molecules-contact-group" %}
      </div>
    {% endif %}
    {% if headerContact.online|length or headerContact.fax|length %}
      <div class="ma__header-contact__column">
        {% if headerContact.online|length %}
          {% set contactGroup = headerContact.online %}
          {% include "molecules-contact-group" %}
        {% endif %}
        {% if headerContact.fax|length %}
          {% set contactGroup = headerContact.fax %}
          {% include "molecules-contact-group" %}
        {% endif %}
      </div>
    {% endif %}
  </div>
</section>