{% if headerContact.phone|length or headerContact.online|length or headerContact.fax|length %}
  {% set accordion = true %}
  {% set accordionParent = "js-accordion" %}
  {% set accordionContent = "js-accordion-content" %}
{% endif %}
<section class="ma__header-contact {{accordionParent}}">
  <div class="ma__header-contact__address">
    {% if headerContact.title %}
      <span>{{headerContact.title | raw}}, </span>
    {% endif %}
    {% if headerContact.address2 %}
      <span>{{headerContact.address1}} {{headerContact.address2}}, </span>
    {% else %}
      <span>{{headerContact.address1}}, </span>
    {% endif %}
    <span>{{headerContact.city}}, {{headerContact.state}} {{headerContact.zip}}</span>
  </div>
  <div class="ma__header-contact__directions">
    {% set link = headerContact.directions %}
    {% include "atoms-link" %}
  </div>
  {% if accordion %}
    <button class="ma__header-contact__accordion js-accordion-link">More contact information</button>
  {% endif %}
  <div class="ma__header-contact__container {{accordionContent}}">
    {% if headerContact.phone|length %}
      <div class="ma__header-contact__column">
        {% set contactGroup = headerContact.phone %}
        {% include "molecules-contact-group" %}
      </div>
    {% endif %}
    {% if headerContact.online|length or headerContact.fax|length %}
      <div class="ma__header-contact__column">
        {% if headerContact.online|length %}
          {% set contactGroup = headerContact.online %}
          {% include "molecules-contact-group" %}
        {% endif %}
        {% if headerContact.fax|length %}
          {% set contactGroup = headerContact.fax %}
          {% include "molecules-contact-group" %}
        {% endif %}
      </div>
    {% endif %}
  </div>
</section>