{% if headerContact.phone|length or headerContact.online|length or headerContact.fax|length %}
  {% set accordion = true %}
  {% set accordionParent = "js-accordion" %}
  {% set accordionContent = "js-accordion-content" %}
{% endif %}
<section class="ma__header-contact {{accordionParent}}">
  <div class="ma__header-contact__address" property="address" typeof="PostalAddress">
    {% if headerContact.title %}
      <span property="name">{{headerContact.title | raw}}, </span>
    {% endif %}
    {% if headerContact.address2 %}
      <span><span property="streetAddress">{{headerContact.address1}}</span> <span>{{headerContact.address2}}</span>, </span>
    {% else %}
      <span property="streetAddress">{{headerContact.address1}}, </span>
    {% endif %}
    <span property="addressLocality">{{headerContact.city}}, <span property="addressRegion">{{headerContact.state}}</span> <span property="postalCode">{{headerContact.zip}}</span></span>
  </div>
  <div class="ma__header-contact__directions" property="hasMap" typeof="Map">
    {% set link = headerContact.directions %}
    {% include "@atoms/11-text/link.twig" %}
  </div>
  <div class="ma__header-contact__container">
    {% if headerContact.phone|length %}
      <div class="ma__header-contact__column">
        {% set contactGroup = headerContact.phone %}
        {% include "@molecules/contact-group.twig" %}
      </div>
    {% endif %}
    {% if headerContact.online|length or headerContact.fax|length %}
      <div class="ma__header-contact__column {{accordionContent}}">
        {% if headerContact.online|length %}
          {% set contactGroup = headerContact.online %}
          {% include "@molecules/contact-group.twig" %}
        {% endif %}
        {% if headerContact.fax|length %}
          {% set contactGroup = headerContact.fax %}
          {% include "@molecules/contact-group.twig" %}
        {% endif %}
      </div>
    {% endif %}
  </div>
  {% if accordion %}
    <button class="ma__header-contact__accordion js-accordion-link">More contact information</button>
  {% endif %}
</section>