<div class="ma__listing-table">
  <div class="ma__listing-table__container">
    <table>
      {% for row in listingTable.rows %}
        <tr>
          <th scope="row">{{ row.label }}</th>
          {# Backwards compatible with 5.8.x where listingTable.rows array item object expects a label and text string instead of a label and an array of strings. #}
          {% if row.text %}
            {% set row = row|merge({'items': [{
              "text": row.text
            }]}) %}
          {% endif %}
          {% if row.items %}
            {% set visibleItems = row.visibleItems ?: 2 %}
            {% set moreLabel = row.moreLabel ?: "show more updates" %}
            {% set lessLabel = row.lessLabel ?: "show less updates" %}
            {% set id = row.label|lower|trim(':')|replace({' ': '-'}) ~ "-data" %}
            <td id="{{ id }}" class="ma__rich-text js-listing-table-data-container" data-ma-listing-table-visible-items="{{ visibleItems }}">
              {% for item in row.items[:visibleItems] %}
                <span class="ma__listing-table__data-item">{{ item.text|raw }}</span>
              {% endfor %}
              {% for item in row.items[visibleItems:last] %}
                <span class="ma__listing-table__data-item ma__listing-table__data-item--dynamic">{{ item.text|raw }}</span>
              {% endfor %}
              {% if row.items|length > visibleItems %}
                <button type="button" class="js-listing-table-button" aria-expanded="false" aria-controls="{{ id }}">
                  <span>{{ moreLabel }}</span><span>{{ lessLabel }}</span>
                </button>
              {% endif %}
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
