{% set titleId = "section_titles_" ~ sectionLinks.id %}

<section class="ma__section-links js-accordion">
  <div class="ma__section-links__content">
    {% if sectionLinks.catIcon %}
      <div class="ma__section-links__icon">
        {% set catIcon = sectionLinks.catIcon %}
        {% include "@atoms/05-icons/cat-icon.twig" %}
      </div>
    {% endif %}
    {# Backward Compatible with v5.8 - subTitle replaced by level #}
    {% if sectionLinks.subTitle %}
      {% set sectionLinks = sectionLinks|merge({"level": 3}) %}
    {% endif %}
    {# use the level passed, the gloval level, or the default #}
    {% set headingLevel = sectionLinks.level ? : (globalLevel ? : 2) %}
    <h{{ headingLevel }} class="ma__section-links__title js-accordion-link" id="{{ titleId }}">
      {% set decorativeLink = sectionLinks.title %}
      {% include "@atoms/decorative-link.twig" %}
    </h{{ headingLevel}}>
    <nav class="ma__section-links__toggle-content js-accordion-content" aria-labelledby="{{ titleId }}">
      {% if sectionLinks.description %}
        <p class="ma__section-links__description">{{sectionLinks.description}}</p>
      {% endif %}
      <div class="ma__section-links__mobile-title">
        {% set decorativeLink = { 
          "type": "", 
          "href": sectionLinks.title.href, 
          "text": "Learn More", 
          "info": "learn more about " ~ sectionLinks.title.text } 
        %}
        {% include "@atoms/decorative-link.twig" %}
      </div>
      <ul class="ma__section-links__items">
        {% if sectionLinks.type == "callout" %}
          {% for calloutLink in sectionLinks.links %}
            <li class="ma__section-links__item">
              {% include "@molecules/callout-link.twig" %}
            </li>
          {% endfor %}
        {% else %}
          {% for decorativeLink in sectionLinks.links %}
            <li class="ma__section-links__item">
              {% include "@atoms/decorative-link.twig" %}
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </nav>
    {% if sectionLinks.seeAll %}
      <div class="ma__section-links__footer">
        {% set decorativeLink = sectionLinks.seeAll %}
        {% include "@atoms/decorative-link.twig" %}
      </div>
    {% endif %}
  </div>
</section>
