<section class="ma__section-links js-section-accordion">
  <div class="ma__section-links__content">
    {% if sectionLinks.catIcon %}
      <div class="ma__section-links__icon">
        {% set catIcon = sectionLinks.catIcon %}
        {% include "atoms-cat-icon" %}
      </div>
    {% endif %}
    <h3 class="ma__section-links__title js-section-accordion-link">
      <a href="{{sectionLinks.title.href}}">{{sectionLinks.title.text}}&nbsp;{% include "atoms-svg-arrow" %}</a>
    </h3>
    <div class="ma__section-links__toggle-content js-section-accordion-body">
      <p class="ma__section-links__description">{{sectionLinks.description}}</p>
      <h4 class="ma__section-links__mobile-title">
        <a href="{{sectionLinks.title.href}}">Learn More&nbsp;{% include "atoms-svg-arrow" %}</a>
      </h4>
      <ul class="ma__section-links__items">
        {% for list in sectionLinks.links %}
        <li class="ma__section-links__item">
          <a href="{{list.href}}" class="ma__section-links__link">{{list.text}}<span role="presentation"></span></a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
