<div class="ma__tooltip">
  <input 
    id="{{ tooltip.controlId }}" 
    type="checkbox" 
    class="ma__tooltip__control ma__visually-hidden"
    aria-label="{{ tooltip.info }}" />
  <label 
    for="{{ tooltip.controlId }}"
    class="ma__tooltip__open"
    aria-labelledby="{{ tooltip.controlId }}">
    {{ tooltip.openText }}
    {% if tooltip.openIcon %}
      {% include tooltip.openIcon %}
    {% endif %}
  </label>
  <section class="ma__tooltip__modal {{ tooltip.location == 'above'? ma__tooltip__modal--above : 'ma__tooltip__modal--below' }}">
    <label 
      for="{{ tooltip.controlId }}" 
      class="ma__tooltip__close"
      tabindex="-1"
      aria-labelledby="{{ tooltip.controlId }}">{{ tooltip.closeText }}</label>
    {% if tooltip.title %}
      <h2 class="ma__tooltip__title">{{ tooltip.title }}</h2>
    {% endif %}
    <div class="ma__tooltip__message">
      {{ tooltip.message|raw }}
    </div>
  </section>
</div>
