<section class="ma__main-nav">
  <ul class="ma__main-nav__items js-main-nav">
    {% for nav in mainNavPilot %}
      <li class="ma__main-nav__item {{ nav.active ? 'is-active' : '' }} {{ nav.subNav ? 'has-subnav js-main-nav-toggle' : '' }}">
        <a class="ma__main-nav__top-link" href="{{nav.href}}" title="{{nav.text}}">{{nav.text}}</a>
        {% if nav.subNav %}
          <div class="ma__main-nav__subitems js-main-nav-content is-closed">
            <ul class="ma__main-nav__container">
              <li class="ma__main-nav__subitem"><a href="{{nav.href}}" class="ma__main-nav__link">{{nav.text}}</a></li>
              {% for subNav in nav.subNav %}
                <li class="ma__main-nav__subitem"><a href="{{subNav.href}}" class="ma__main-nav__link">{{subNav.text}}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>
