<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
     
    <!-- TODO replace the fonts before launch to production with client's kit -->
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7638692/6594352/css/fonts.css" />

    <link rel="stylesheet" href="/assets/css/index-generated.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="/assets/css/base-theme-generated.css?{{ cacheBuster }}" media="all" />

    <script src="/assets/js/vendor/modernizr.js"></script>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- this file is just for pattern lab style guide styling -->
    <link rel="stylesheet" href="/assets/css/pattern-scaffolding-generated.css?{{ cacheBuster }}" media="all" />
    <!-- End Pattern Lab -->
  
  </head>
  <body class="{{ bodyClass }}">
    <!-- Fix: Chrome doesn't always render the first SVG use tag -->
    <img src="/assets/images/svg-sprite.svg" style="display:none" />

    
