<!DOCTYPE html>
<html class="{{ htmlClass }} no-js" lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/css/index-generated.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="/assets/css/base-theme-generated.css?{{ cacheBuster }}" media="all" />

    <script src="/assets/js/vendor/modernizr.js"></script>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- this file is just for pattern lab style guide styling -->
    <link rel="stylesheet" href="/assets/css/pattern-scaffolding-generated.css?{{ cacheBuster }}" media="all" />
    <!-- End Pattern Lab -->
{#
      SITE LEVEL COMMON DATA: 
      ORGANIZATION
        NOTE: Update the log location in organization
      PAGE STRUCTURE
      - header area
      - footer area
      - sidebar area
      - main navigation
#}
    <script type="application/ld+json">
      { 
          "@context" : "http://schema.org",
          "@type" : "Organization",
          "url" : "https://www.mass.gov/",
          "logo": "https://www.mass.gov/assets/images/stateseal.png",
          "name" : "Commonwealth of Massachusetts",
          "sameAs" : [
            "https://www.facebook.com/massgov/",
            "https://twitter.com/massgov/",
            "https://www.linkedin.com/company/commonwealth-of-massachusetts/",
            "https://www.youtube.com/user/massgov/",
            "https://www.instagram.com/massgov/"
            ]
      }
    </script>
    <script type="application/ld+json">
      {
          "@context":"http://schema.org",
          "@type":"WPHeader",
          "@id" : "https://www.mass.gov//#header"
      }
    </script>
    <script type="application/ld+json">
      {
          "@context":"http://schema.org",
          "@type":"WPSidebar",
          "@id" : "https://www.mass.gov//#sidebar"
      }
    </script>
    <script type="application/ld+json">
      {
          "@context":"http://schema.org",
          "@type":"WPFooter",
          "@id" : "https://www.mass.gov//#footer"
      }
    </script>  
    <script type="application/ld+json">
        {
          "@context":"http://schema.org",
          "@type":"SiteNavigationElement",
          "@id" : "https://www.mass.gov//#main-navigation"
        }
    </script>  
  </head>
  <body class="{{ bodyClass }}" vocab="http://schema.org/" typeof="WebPage">
    <!-- Fix: Chrome doesn't always render the first SVG use tag -->
    <img aria-hidden="true" alt="icon-sprite" src="/assets/images/svg-sprite.svg" style="display:none" />


