<!DOCTYPE html>
<html class="{{ htmlClass }} no-js" lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="{{ url.domain }}/{{ url.assetsPath }}/css/index-generated.css?{{ cacheBuster }}" media="all" />
    <link class="js-base-theme" rel="stylesheet" href="{{ url.domain }}/{{ url.assetsPath }}/css/base-theme-generated.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="{{ url.domain }}/{{ url.assetsPath }}/css/archived-generated.css?{{ cacheBuster }}" media="all" />

    <script src="{{ url.domain }}/{{ url.assetsPath }}/js/vendor/modernizr.js"></script>
    
    <script>
      var baseThemeCss="{{ url.domain }}/{{ url.assetsPath }}/css/base-theme-generated.css";
      var govThemeCss="{{ url.domain }}/{{ url.assetsPath }}/css/gov-theme-generated.css?";
    </script>


    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- this file is just for pattern lab style guide styling -->
    <link rel="stylesheet" href="{{ url.domain }}/{{ url.assetsPath }}/css/pattern-scaffolding-generated.css?{{ cacheBuster }}" media="all" />
    <!-- End Pattern Lab -->
{#
  SITE LEVEL DATA: 
  WEBSITE
  - add to home (front) page only.
  - about can be added when its content is ready.
  - keywords can be added when its content is ready.
#}
{% if schemaPageType == "Home" %}
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "url": "{{ urlDomain }}",
          "name": "Mass.gov",
          "alternateName": "The Official Website of the Commonwealth of Massachusetts", {#
          "about": "~NEED CONTENT~",#} 
          "copyrightHolder": "Commonwealth of Massachusetts", {#
          "keywords": "state government, ~OTHERS TO ADD: Keywords or tags used to describe this content. Multiple entries in a keywords list are typically delimited by commas.~",#} 
          "potentialAction": {
             "@type": "SearchAction",
             "target": "{{ urlDomain }}/?s={search_term_string}&post_type=post",
             "query-input": "required name=search_term_string"}
        }
    </script>
{% endif %}
{#
  SITE LEVEL COMMON DATA: 
  ORGANIZATION
  - alternateName can be added later if helpful.
#}
    <script type="application/ld+json">
      { 
          "@context": "http://schema.org",
          "@type": "Organization",
          "@id": "{{ urlDomain }}/#organization",
          "url": "{{urlDomain}}",
          "logo": "{{ urlDomain ~ '/' ~ directory ~ '/images/stateseal-color.png' }}",
          "name": "Commonwealth of Massachusetts",
          "sameAs": [
            "https://www.facebook.com/massgov/",
            "https://twitter.com/massgov/",
            "https://www.linkedin.com/company/commonwealth-of-massachusetts/",
            "https://www.youtube.com/user/massgov/",
            "https://www.instagram.com/massgov/"
            ]
      }
    </script>
{#
  SITE LEVEL COMMON DATA: 
  PAGE STRUCTURE - they match with the ids assigned to the area elements in the <body>.
  - header area
  - footer area
  - main navigation area
#}
    <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "WPHeader",
          "@id": "{{ urlDomain ~ urlPath ~ '#header' }}"
      }
    </script>
    <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "WPFooter",
          "@id": "{{ urlDomain ~ urlPath ~ '#footer' }}"
      }
    </script>  
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "SiteNavigationElement",
          "@id": "{{ urlDomain ~ urlPath ~ '#main-navigation'}}"
        }
    </script>  
  </head>
  <body class="{{ bodyClass }}" vocab="http://schema.org/" typeof="WebPage">
