{% if compHeading.color %}
  {% set colored = "ma__comp-heading--" ~ compHeading.color %}
{% endif %}

{% if compHeading.centered %}
  {% set centered = "ma__comp-heading--centered" %}
{% endif %}

{% if compHeading.sub %}
  <h3 class="ma__comp-heading {{ colored }} {{ centered }}" {% if compHeading.id %}id="{{compHeading.id}}"{% endif %}>
    {{ compHeading.title }}
  </h3>
{% else %}
  <h2 class="ma__comp-heading {{ colored }} {{ centered }}" {% if compHeading.id %}id="{{compHeading.id}}"{% endif %}>
    {{ compHeading.title }}
  </h2>
{% endif %}

