{% set colored = compHeading.color ? "ma__comp-heading--" ~ compHeading.color : "" %}

{% set centered = compHeading.centered ? "ma__comp-heading--centered" : "" %}

{% set sidebar = compHeading.sidebar ? "ma__comp-heading--sidebar" : "" %}

{% if compHeading.sub %}
  <h3
    class="ma__comp-heading {{ colored }} {{ centered }} {{sidebar }}" 
    {% if compHeading.id %}
      id="{{compHeading.id}}"
    {% endif %} 
    tabindex="-1">
    {{ compHeading.title }}
  </h3>
{% else %}
  <h2 
    class="ma__comp-heading {{ colored }} {{ centered }} {{sidebar }}" 
    {% if compHeading.id %}
      id="{{compHeading.id}}"
    {% endif %} 
    tabindex="-1">
    {{ compHeading.title }}
  </h2>
{% endif %}
