{% if compHeading.color %}
  {% set colored = "ma__comp-heading--" ~ compHeading.color %}
{% endif %}

{# string value is backward compatible for v5.0.0 #}
{% if compHeading.centered or compHeading.centered == 'true' %}
  {% set centered = "ma__comp-heading--centered" %}
{% endif %}

{% if compHeading.sub %}
  <h3 
    class="ma__comp-heading {{ colored }} {{ centered }}" 
    {% if compHeading.id %}id="{{compHeading.id}}"{% endif %} tabindex="-1">
    {{ compHeading.title }}
  </h3>
{% else %}
  <h2 
    class="ma__comp-heading {{ colored }} {{ centered }}" {% if compHeading.id %}
    id="{{compHeading.id}}"{% endif %}
    tabindex="-1">
    {{ compHeading.title }}
  </h2>
{% endif %}

