{% set level = level ? : 2 %}
<section class="ma__action-details">
  <h{{ level }} class="ma__action-details__title">The Details</h{{ level }}>
  {# Increase heading number by 1 from the parent heading. #}
  {% set level = level + 1 %}

  <div class="ma__action-details__content">
    <nav class="ma__action-details__anchor-links js-scroll-anchors" aria-labelledby="page_contents">
        <h{{ level }} class="visually-hidden" id="page_contents">Page Contents</h{{ level }}>
        <button class="ma__action-details__toggle-link js-scroll-anchors-toggle">+</button>
        {% for section in actionDetails.sections %}
          {% if section.id and section.title %}
            <a href="#{{section.id}}" class="js-scroll-anchors-link {{loop.first ? 'is-active' : ''}}">{{section.title}}</a>
          {% endif %}
        {% endfor %}
    </nav>
    {% for actionSection in actionDetails.sections %}
      {% set actionSection = actionSection|merge({'level': level }) %}
      {% include "@molecules/action-section.twig" %}
    {% endfor %}
  </div>
</section>
