{% set noBgClass = "" %}

{% if not actionFinder.bgWide %}
  {% set noBgClass = "ma__action-finder--no-background" %}
{% endif %}

{% set titleId = compHeading.id ? : "finder-title-" ~ actionFinder.id %}

<section class="ma__action-finder {{ noBgClass }}" id="{{ actionFinder.id }}">
  {% if actionFinder.bgWide %}
    <style>
      #{{ actionFinder.id }} {
        background-image: url('{{actionFinder.bgNarrow}}');
      }

      @media (min-width: 801px) {
        #{{ actionFinder.id }} {
          background-image: url('{{actionFinder.bgWide}}');
        }
      }
    </style>
  {% endif %}
  <div class="ma__action-finder__container">
    <header class="ma__action-finder__header">
      {# Backward compatible with 5.7 - replaced h2 with compHeading #}
      {% set compHeading = actionFinder.compHeading ? : {"title": actionFinder.title, "color":"yellow" } %}
      {% set compHeading = compHeading|merge({"id": titleId }) %}
      {% include "@atoms/04-headings/comp-heading.twig" %}
    </header>
    {% if actionFinder.featuredLinks %}
      <div class="ma__action-finder__featured-items">
        {% set keyActions = { "links": actionFinder.featuredLinks, "id": titleId } %}
        {% if actionFinder.featuredHeading %}
          <h3 class="ma__action-finder__category" id="featured-{{ actionFinder.id }}">{{ actionFinder.featuredHeading }}</h3>
          {% set keyActions = keyActions|merge({"id": "featured-" ~ actionFinder.id, }) %}
        {% endif %}
        {% include "@organisms/by-author/key-actions.twig" %}
      </div>
    {% endif %}
    {% if actionFinder.links %}
      <div class="ma__action-finder__all-items">
        {% set keyActions = { "links": actionFinder.links, "id": titleId } %}
        {% if actionFinder.generalHeading and actionFinder.featuredLinks %}
          <h3 class="ma__action-finder__category" id="all-{{ actionFinder.id }}">{{ actionFinder.generalHeading }}</h3>
          {% set keyActions = keyActions|merge({"id": "all-" ~ actionFinder.id, }) %}
        {% endif %}
        {% include "@organisms/by-author/key-actions.twig" %}
      </div>
    {% endif %}
  </div>
  {% if actionFinder.seeAll %}
    <div class="ma__action-finder__see-all">
      <div class="ma__action-finder__see-all-container">
        {% set decorativeLink = actionFinder.seeAll %}
        {% include "@atoms/decorative-link.twig" %}
      </div>
    </div>
  {% endif %}
</section>
