<section class="ma__contact-us">
  <h2 class="ma__contact-us__title">{{contactUs.title}}</h2>
  <ul class="ma__contact-us__items">
    {% for contact in contactUs.contacts %}
      <li class="ma__contact-us__item">
        <h3 class="ma__contact-us__name">{{contact.name}}</h3>
        <div class="ma__contact-us__contact">
          {% if contact.phone %}
            <div>
              <b>Main Phone:</b> <a class="ma__contact-us__phone" href="tel:+{{contact.phoneLink}}">{{contact.phone}}</a>
            </div>
          {% endif %}
          {% if contact.fax %}
            <div>
              <b>Main Fax:</b> <a class="ma__contact-us__phone"  href="tel:+{{contact.faxLink}}">{{contact.fax}}</a>
            </div>
          {% endif %}
          {% if contact.email %}
            <div>
              <b>Email:</b> <a class="ma__contact-us__email" href="mailto:{{contact.email}}">{{contact.email}}</a>
            </div>
          {% endif %}
        </div>
        <div class="ma__contact-us__address">
          <span>{{contact.address1}}{% if contact.address2 %},</span> <span>{{contact.address2}}{% endif %}</span>
          <span>{{contact.city}}, {{contact.state}} {{contact.zip}}</span>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>