{% set noBgClass = "" %}

{% if not actionFinder.bgWide %}
  {% set noBgClass = "ma__action-finder--no-background" %}
{% endif %}

{# Backward compatible with 5.7 - replaced Id with variable #}
{% set actionFinderId = actionFinder.id ? : "GUID847017" %}

<section class="ma__action-finder {{ noBgClass }}" id="{{ actionFinderId }}">
  {% if actionFinder.bgWide %}
    <style>
      #{{ actionFinderId }} {
        background-image: url('{{actionFinder.bgNarrow}}');
      }

      @media (min-width: 801px) {
        #{{ actionFinderId }} {
          background-image: url('{{actionFinder.bgWide}}');
        }
      }
    </style>
  {% endif %}
  <div class="ma__action-finder__container">
    <header class="ma__action-finder__header">
      <h2 class="ma__action-finder__title">
        {{ actionFinder.title }}
      </h2>
    </header>
    {% if actionFinder.featuredLinks %}
      {% if actionFinder.featuredHeading %}
        <h3 class="ma__action-finder__category">{{ actionFinder.featuredHeading }}</h3>
      {% endif %}
      <div class="ma__action-finder__items">
        {% for link in actionFinder.featuredLinks %}
          {% if link.image %}
            {% set illustratedLink = link %}
            {% include "@molecules/illustrated-link.twig" %}
          {% else %}
            {% set calloutLink = link %}
            {% include "@molecules/callout-link.twig" %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if actionFinder.links %}
      {% if actionFinder.generalHeading and actionFinder.featuredLinks %}
        <h3 class="ma__action-finder__category">{{ actionFinder.generalHeading }}</h3>
      {% endif %}
      <div class="ma__action-finder__items ma__action-finder__items--all">
        {% for link in actionFinder.links %}
          {% if link.image %}
            {% set illustratedLink = link %}
            {% include "@molecules/illustrated-link.twig" %}
          {% else %}
            {% set calloutLink = link %}
            {% include "@molecules/callout-link.twig" %}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% if actionFinder.seeAll %}
    <div class="ma__action-finder__see-all">
      <div class="ma__action-finder__see-all-container">
        {% set decorativeLink = actionFinder.seeAll %}
        {% include "@atoms/decorative-link.twig" %}
      </div>
    </div>
  {% endif %}
</section>
