<section class="ma__feedback-form" id="GUID8317417813234325">
  <style>
    #GUID8317417813234325 {
      background-image: url('{{feedbackForm.bgNarrow}}');
    }

    @media (min-width: 801px) {
      #GUID8317417813234325 {
        background-image: url('{{feedbackForm.bgWide}}');
      }
    }
  </style>
  <div class="ma__feedback-form__overlay">
    <div class="ma__feedback-form__container">
      <header class="ma__feedback-form__header">
        <h2 class="ma__feedback-form__title">{{feedbackForm.title}}</h2>
        <p class="ma__feedback-form__description">{{feedbackForm.description}}</p>
      </header>
      <form action="#">
        <div class="ma__feedback-form__name">
          {% include "atoms-input-text" %}
        </div>
        <div class="ma__feedback-form__email">
          {% include "atoms-input-email" %}
        </div>
        <div class="ma__feedback-form__feeback">
          {% include "atoms-input-textarea" %}
        </div>
        <div class="ma__feedback-form__type">
          {% include "atoms-select-box" %}
        </div>
        <fieldset class="ma__feedback-form__permission">
          <legend>{{feedbackForm.permissionLegend}}</legend>
          {% for inputRadio in feedbackForm.radioButtons %}
            {% include "atoms-input-radio" with inputRadio %}
          {% endfor %}
        </fieldset>
        <div class="ma__feedback-form__controls">
          <button type="submit">Send</button>
        </div>
      </form>
    </div>
  </div>
</section>
