<style>
  #GUID935283478 {
    background-image: url('{{searchBanner.bgNarrow}}');
  }

  @media (min-width: 801px) {
    #GUID935283478 {
      background-image: url('{{searchBanner.bgWide}}');
    }
  }
</style>
<section class="ma__search-banner" id="GUID935283478">
  <div class="ma__search-banner__container">
    <h1 class="ma__search-banner__title">{{searchBanner.title}}</h1>
    <div class="ma__search-banner__intro">{{searchBanner.intro}}</div>
    {% set form = searchBanner.form %}
    {% if form.path is not empty and form.content is not empty %}
      {% include form.path with form.content %}
    {% elseif form.content is not empty %}
      {{ form.content }}
    {% endif %}
    <div class="ma__search-banner__links">
      {% set helpfulLinks = searchBanner.helpfulLinks %}
      {% include "@organisms/by-author/helpful-links.twig" %}
    </div>
  </div>
  {% if searchBanner.imageName and searchBanner.imageAuthor %}
    <div class="ma__search-banner__image-credit">
      <div class="ma__search-banner__credits-container">
        <div class="ma__search-banner__icon">
          {% include "@atoms/05-icons/svg-marker.twig" %}
        </div>
        <div class="ma__search-banner__image-name">{{ searchBanner.imageName }}</div>
        <div class="ma__search-banner__image-author">{{ searchBanner.imageAuthor }}</div>
      </div>
    </div>
  {% endif %}
</section>