<style>
  #GUID935283478 {
    background-image: url('{{searchBanner.bgNarrow}}');
  }

  @media (min-width: 801px) {
    #GUID935283478 {
      background-image: url('{{searchBanner.bgWide}}');
    }
  }
</style>
<section class="ma__search-banner" id="GUID935283478">
  <div class="ma__search-banner__container">
    <h1 class="ma__search-banner__title">{{searchBanner.title}}</h1>
    <div class="ma__search-banner__intro">{{searchBanner.intro}}</div>
    <form class="ma__search-banner__form" action="{{searchBanner.action}}">
      <div class="ma__search-banner__input">
        {% set inputText = searchBanner.inputText %}
        {% include "@atoms/03-forms/input-text.twig" %}
      </div>
      <button class="ma__search-banner__button" type="submit">
        <span>{{searchBanner.buttonText}}</span>
        {% include "@atoms/05-icons/svg-search.twig" %}
      </button>
    </form>
    <div class="ma__search-banner__links">
      {% set helpfulLinks = searchBanner.helpfulLinks %}
      {% include "@organisms/by-author/helpful-links.twig" %}
    </div>
  </div>
  {% if searchBanner.imageName and searchBanner.imageAuthor %}
    <div class="ma__search-banner__image-credit">
      <div class="ma__search-banner__credits-container">
        <div class="ma__search-banner__icon">
          {% include "@atoms/05-icons/svg-marker.twig" %}
        </div>
        <div class="ma__search-banner__image-name">{{ searchBanner.imageName }}</div>
        <div class="ma__search-banner__image-author">{{ searchBanner.imageAuthor }}</div>
      </div>
    </div>
  {% endif %}
</section>