{% set patternId = searchBanner.id ? : "GUID935283478" %}

<section class="ma__search-banner" id="{{ patternId }}">
  <style>
    #{{ patternId }} {
      background-image: url('{{ searchBanner.bgNarrow }}');
    }

    @media (min-width: 801px) {
      #{{ patternId }} {
        background-image: url('{{ searchBanner.bgWide }}');
      }
    }
  </style>
  <div class="ma__search-banner__container">
    {# backward compatible with v5.7 - pageIntro replaced title and intro #}
    {% set pageIntro = searchBanner.pageIntro ? : { "pageTitle": { "text": searchBanner.title }, "subTitle": searchBanner.intro } %}
    {% include "@molecules/page-intro.twig" %}

    {# Backward Compatible with v5.7 - searchBanner.form was removed in favor of searchBanner.searchBannerForm #}
    {% if searchBanner.form %}
      {% set form = searchBanner.form %}
      {% if form.path is not empty and form.content is not empty %}
        {% include form.path with form.content %}
      {% elseif form.content is not empty %}
        {{ form.content }}
      {% endif %}    
    {% else %}
      {% set searchBannerForm = searchBanner.searchBannerForm %}
      {% include "@molecules/search-banner-form.twig" %}
    {% endif %}

    <div class="ma__search-banner__links">
      {# Backward Compatible with v5.7 - Helpful Links replaced by Link List #}
      {% if searchBanner.helpfulLinks %}
        {% set helpfulLinks = searchBanner.helpfulLinks %}
        {% include "@organisms/by-author/helpful-links.twig" %}
      {% else %}
        {% set linkList = searchBanner.linkList %}
        {% include "@organisms/by-author/link-list.twig" %}
      {% endif %}
    </div>
  </div>
  {# backward compatible with v5.7 - replaced imageName and imageAuthor with bannerCredit #}
  {% if searchBanner.imageName and searchBanner.imageAuthor %}
    {% set bannerCredit = { "imageName": searchBanner.imageName, "imageAuthor": searchBanner.imageAuthor } %}
    {% include "@molecules/banner-credit.twig" %}
  {% endif %}
  {% if searchBanner.bannerCredit %}
    {% set bannerCredit = searchBanner.bannerCredit %}
    {% include "@molecules/banner-credit.twig" %}
  {% endif %}
</section>
