{% set link = sidebarPromo.link %}

<section class="ma__sidebar-promo">
  <h4 class="ma__sidebar-promo__title">{{sidebarPromo.title}}</h4>
  {% if sidebarPromo.image %}
    {% set image = sidebarPromo.image %}
    <div class="ma__sidebar-promo__image">
      <a href="{{link.href}}" target="{{link.target}}" title="{{image.src}}">{% include "atoms-image" %}</a>
    </div>
  {% endif %}
  {% if sidebarPromo.content %}
    <div class="ma__sidebar-promo__content">
      {{sidebarPromo.content}}
    </div>
  {% endif %}
  <div class="ma__sidebar-promo__view-more">
    {% include "atoms-link" %}
  </div>
</section>
