<section class="ma__suggested-pages">
  <div class="ma__suggested-pages__container">
    <h2 class="ma__suggested-pages__title">{{ suggestedPages.title }}{% if suggestedPages.titleContext %}<span class="visually-hidden"> {{suggestedPages.titleContext}}</span>{% endif %}</h2>
    <div class="ma__suggested-pages__items">
      {% if suggestedPages.view == "guide" %}
        {% for page in suggestedPages.pages %}
          {% set illustratedLink = { 
            "href": page.link.href, 
            "text": page.link.text, 
            "info": page.link.info, 
            "image": page.image } %}
          <div class="ma__suggested-pages__item ma__suggested-pages__item--guide">
            {% include "@molecules/illustrated-link.twig" %}
          </div>
        {% endfor %}
      {% else %}
        {% for page in suggestedPages.pages %}
          <figure class="ma__suggested-pages__item ma__suggested-pages__item--figure">
            <a href="{{ page.link.href }}">
              <img alt="{{ page.altTag }}" src="{{ page.image }}">
            </a>
            {% set decorativeLink = page.link %}
            {% include "@atoms/decorative-link.twig" %}
          </figure>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
