{% set teaserHeading = 2 %}
{% set stacked = teaserListing.stacked ? 'stacked': 'side-by-side' %}
{% set columnCount = teaserListing.contained and teaserListing.gridTwoColumns ? 2 : 3 %}
{% set columnClass = 2 ? 'ma__teaser-listing__2-col-grid' : 'ma__teaser-listing__3-col-grid' %}
{% set shownNumber = teaserListing.shownNumber ? teaserListing.shownNumber : columnCount %}


<section class="ma__teaser-listing">
  <div class="ma__teaser-listing__container js-accordion {{ teaserListing.isExpanded ? 'is-open':'' }}">
    {% if teaserListing.compHeading %}
      {% set compHeading = teaserListing.compHeading %}
      {% include "@atoms/04-headings/comp-heading.twig" %}
      {% set teaserHeading = (compHeading.level ? : teaserHeading) + 1 %}
    {% endif %}
    {% if teaserListing.sidebarHeading %}
      {% set sidebarHeading = teaserListing.sidebarHeading %}
      {% include "@atoms/04-headings/sidebar-heading.twig" %}
      {% set teaserHeading = (sidebarHeading.level ? : teaserHeading) + 1 %}
    {% endif %}
    {% if teaserListing.description %}
      <div class="ma__teaser-listing__description">
        {% set paragraph = teaserListing.description %}
        {% include "@atoms/11-text/paragraph.twig" %}
      </div>
    {% endif %}
    {% if teaserListing.featuredItems %}
      <div class="ma__teaser-listing__featured-items {{ stacked }}">
        {% for generalTeaser in teaserListing.featuredItems %}
          {% set generalTeaser = generalTeaser|merge({"level":teaserHeading}) %}
          {% include "@molecules/general-teaser.twig" %}
        {% endfor %}
      </div>
    {% endif %}
    {% block teaserListingItems %}
      {% if teaserListing.items %}
        {% if teaserListing.expandable %}
          <ul class="ma__teaser-listing__items {{ columnClass }}">
            {% for generalTeaser in teaserListing.items[:shownNumber] %}
              {% block teaserListItem %}
                <li class="ma__teaser-listing__item">
                  {% set generalTeaser = generalTeaser|merge({"level":teaserHeading}) %}
                  {% include "@molecules/general-teaser.twig" %}
                </li>
              {% endblock %}
            {% endfor %}
          </ul>
          {% if teaserListing.items|length > shownNumber %}
            <div class="ma__teaser-listing__extra js-accordion-content">
              <ul class="ma__teaser-listing__items {{columnClass}}">
                {% for generalTeaser in teaserListing.items[shownNumber:last] %}
                  {{ block('teaserListItem') }}
                {% endfor %}
              </ul>
            </div>
            <button
                class="ma__content-link ma__content-link--chevron ma__content-link__acordion-toggle js-accordion-link"
                aria-label="{{ teaserListing.moreItemsLabel }}">
              <span class="more">{{teaserListing.moreItemsLabel}}</span>
              <span class="less">{{teaserListing.lessItemsLabel}}</span>
            </button>
          {% endif %}
        {% else %}
          <ul class="ma__teaser-listing__items {{ columnClass }}">
            {% for generalTeaser in teaserListing.items %}
              {{ block('teaserListItem') }}
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    {% endblock %}
    {% if teaserListing.more %}
      <div class="ma__teaser-listing__more">
        {% set link = teaserListing.more %}
        {% include "@atoms/11-text/link.twig" %}
      </div>
    {% endif %}
  </div>
</section>