<section class="ma__action-event"{% if schemaPageType %} property="event" typeof="Event"{% endif %}>
  <h3 class="ma__action-event__name"{% if schemaPageType %} property="name"{% endif %}>
    {% set decorativeLink = actionEvent.name %}
    {% include "@atoms/decorative-link.twig" %}
  </h3>
  <div class="ma__action-event__date"{% if schemaPageType %} property="startDate" content="{{actionEvent.schemaDate}}"{% endif %}>
    {{actionEvent.date}}
  </div>
  {% if actionEvent.description %}
    <div class="ma__action-event__description"{% if schemaPageType %}  property="description"{% endif %}>
      {{actionEvent.description}}
    </div>
  {% endif %}
  {% if schemaPageType %}
    <span property="location" typeof="{{schemaPageType}}">
    {% if schemaPageType == "GovernmentOffice" %}
       <meta property="image" src="{{actionEvent.meta.location.image.src}}" alt="{{actionEvent.meta.location.image.src}}" />
    {% endif %}
      <meta property="name" content="{{actionEvent.meta.location.name}}" />
      <meta property="address" content="{{actionEvent.meta.location.address1}} {{actionEvent.meta.location.address2}} {{actionEvent.meta.location.city}}, {{actionEvent.meta.location.state}} {{actionEvent.meta.location.zip}}" />
    </span>
  {% endif %}
</section>
