<span class="ma__decorative-link">
  {% if decorativeLink.type == "external" %}
    <a href="{{decorativeLink.href}}" class="js-clickable-link">{{decorativeLink.text}}&nbsp;{% include "@atoms/05-icons/svg-external-link.twig" %}</a>
  {% elseif decorativeLink.type == "info" %}
	 <a href="{{decorativeLink.href}}">Learn More<span class="ma__decorative-link__info"> about {{decorativeLink.text}}</span>&nbsp;{% include "@atoms/05-icons/svg-arrow.twig" %}</a>  
  {% else %}
    <a href="{{decorativeLink.href}}" class="js-clickable-link">{{decorativeLink.text}}&nbsp;{% include "@atoms/05-icons/svg-arrow.twig" %}</a>
  {% endif %}
</span>