<span class="ma__decorative-link">
  <a 
    href="{{decorativeLink.href}}" 
    class="js-clickable-link {{ decorativeLink.class }}"
    {% if decorativeLink.property %} 
      property="{{decorativeLink.property}}"
    {% endif %}
    {% if decorativeLink.info %}
      aria-label="{{ decorativeLink.info }}"
    {% endif %}
    >{{decorativeLink.text}}&nbsp;{% include "@atoms/05-icons/svg-arrow.twig" %}</a>
</span>
