{% set modifier = modifier ? " ma__decorative-link--" ~ modifier : "" %}
<span class="ma__decorative-link{{ modifier }}">
  <a 
    href="{{decorativeLink.href}}" 
    class="js-clickable-link"
    {% if decorativeLink.property %} 
      property="{{decorativeLink.property}}"
    {% endif %}
    {% if decorativeLink.info %}
      aria-label="{{ decorativeLink.info }}"
    {% endif %}
    >{{decorativeLink.text}}&nbsp;{% include "@atoms/05-icons/svg-arrow.twig" %}</a>
</span>
