<section class="ma__utility-nav js-util-nav">
  <ul class="ma__utility-nav__items">
    {% if googleLanguages %}
      <li class="ma__utility-nav__item">
        <div class="ma__utility-nav__translate">
          <div id="google_translate_element"></div>
          <div class="ma__utility-nav__translate-icon">
            {% include "@atoms/05-icons/svg-lat-lon-globe.twig" %}
          </div>
        </div>
      </li>
    {% endif %}
    {% for item in utilityNav.items %}
      <li class="ma__utility-nav__item js-util-nav-toggle">
        <a class="ma__utility-nav__link"
          href="#"
          aria-label="{% if item.ariaLabelText %}{{ item.ariaLabelText }}{% else %}{{ item.text }}{% endif %}">
          {% include item.icon %}
          <span>
            {{ item.text }}
          </span>
        </a>
        <div aria-hidden="true" class="ma__utility-nav__content js-util-nav-content is-closed">
          <div class="ma__utility-nav__container">
            <div class="ma__utility-nav__content-title">
              <button class="ma__utility-nav__close js-close-util-nav"><span>{{ item.closeText }}</span><span class="ma__utility-nav__close-icon" aria-hidden="true">+</span></button>
              {% include item.icon %}
              <span>{{ item.text }}</span>
            </div>
            <div class="ma__utility-nav__content-body">
              {% set utilityPanel = item.panel %}
              {% include "@organisms/by-template/utility-panel.twig" %}
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>
