<span class="ma__input-radio">
  <input name="{{inputRadio.name}}" type="radio" value="{{inputRadio.value}}" id="{{inputRadio.id}}" {{inputRadio.checked == 'true' ? 'checked' : ''}}>
  <label for="{{inputRadio.id}}"><span>{{inputRadio.label}}</span></label>
</span>
