<section class="ma__action-card">
  <h2 class="ma__action-card__title">{{actionCard.title}}</h2>
  <p class="ma__action-card__description">{{actionCard.description}}</p>
  <div class="ma__action-card__items">
    {% for action in actionCard.actions %}
      <div class="ma__action-card__item js-clickable {{action.theme ? 'ma__action-card__item--' ~ action.theme : ''}}">
        <div class="ma__action-card__icon">
          {% include action.icon %}
        </div>
        <div class="ma__action-card__content">
          <span class="ma__action-card__category">{{action.category}}</span>
          <h3 class="ma__action-card__link">
            <a class="js-clickable-link" href="{{action.linkHref}}" title="{{action.linkText}}">{{action.linkText}}&nbsp;{% include "atoms-svg-arrow" %}</a>
          </h3>
        </div>
      </div> 
    {% endfor %}
  </div>
</section>