{% set buttonClassSize = "" %}
{% set buttonClass = "" %}

{% if buttonToggle.outline %}
  {% set buttonClass = buttonClass ~ "-minor" %}
{% endif %}

{% if buttonToggle.theme %}
  {% set buttonClass = buttonClass ~ "-" ~ buttonToggle.theme %}
{% endif %}

<span>
  <label for="{{ buttonToggle.id }}" class="ma__label--inline ma__label--small">{{buttonToggle.labelText}}</label>
  <button type="button" class="ma__button-toggle {{ buttonClass }}">{{ buttonToggle.options[0].text }}</button> |
  <button type="button" class="ma__button-toggle ma__button-toggle--selected {{ buttonClass }}">{{ buttonToggle.options[1].text }}</button>
</span>
