{% set buttonSize = button.size ? "ma__button--" ~ button.size : "" %}

{% set buttonStyle = button.outline ? "ma__button--minor" : "" %}

{% set buttonColor = button.color ? "ma__button--" ~ button.color %}

{% if button.href %}
  <a 
    href="{{ button.href }}" 
    class="ma__button {{ buttonSize }} {{buttonColor}} {{buttonStyle}}"
    title="{{ button.info }}">
    {{ button.text }}
  </a>
{% else %}
  <button type="{{ button.type }}" class="ma__button {{ buttonSize }} {{buttonColor}} {{buttonStyle}}" aria-label="{{ button.info }}">{{ button.text }}</button>
{% endif %}
